<nav class="navbar navbar-dark bg-dark mb-5">
    <div class="container d-flex justify-content-end">
        <ul class="nav nav-pills">
            <!-- <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/search">Search</a>
            </li> -->
            <ng-container *ngIf="loggedIn!='true'; then displayLogin;"></ng-container>
            <ng-template #displayLogin>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
                </li>
            </ng-template>

            <ng-container *ngIf="loggedIn=='true'; then displayLogout"></ng-container>

            <ng-template #displayLogout>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ng-template>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>